@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap");

/* font-family: "Inter", sans-serif; */

:root {
  --Green: hsl(75, 94%, 57%);

  --White: hsl(0, 0%, 100%);
  --Grey: hsl(0, 0%, 20%);
  --Dark-Grey: hsl(0, 0%, 12%);
  --Off-Black: hsl(0, 0%, 8%);

  --font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

ul[role="list"],
ol[role="list"] {
  list-style: none;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
  overflow-wrap: break-word;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
  display: block;
  max-width: 100%;
}

html:focus-within {
  scroll-behavior: smooth;
}

html,
body {
  height: 100%;
}

body {
  font-family: var(--font-family);
  background-color: var(--Off-Black);
  color: var(--White);
}

article {
  background-color: var(--Dark-Grey);
  padding: 1.5rem;
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 1.4rem;
  text-align: center;
  width: 350px;
}

.profile-picture {
  width: 9rem;
  /* border-radius:50%; */
  clip-path: circle();
  margin: auto;
}

.profile-name {
  font-size: 1.6rem;
  font-weight: 600;
  margin-bottom: 0.3rem;
}

.profile-location {
  color: var(--Green);
  margin-bottom: 1.2rem;
}

.profile-desc {
  color: var(--White);
  font-weight: 400;
  margin-bottom: 1rem;
  font-size: 0.9rem;
}

button {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-bottom: 1rem;
  border-radius: 0.5rem;
  border: none;
  padding: 1rem;
  background-color: var(--Grey);
  align-items: center;
}

button:hover {
  background-color: var(--Off-Black);
  cursor: pointer;
}

a {
  color: var(--White);
  font-weight: 600;
}
